@model IEnumerable<ProvaFrontEnd_07_17.Models.Noticias.Noticia>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @foreach(var n in Model)
    {
        <div>@n.Titulo</div>
        <div>@n.Itens.Where(m => m.Texto != null).FirstOrDefault().Texto</div>
        <img src="~/Content/img/@n.Imagem" />
        @Html.ActionLink("Visualizar", "Visualizar", new { id = @n.URL })
    }
</div>